<h2>Achievements</h2>
<table style="margin-bottom: 2em;">
<% @user_record.achievements.sort_by {|achieve| achieve.is_earned? ? 0 : 1}.each do |achievement| %>
	<tr>
		<td>
			<span class="achievement<% if not achievement.is_earned? %> unobtained<% end %>">
				<%= achievement.name %>
			</span>
		</td>
		<td class="smaller" style="<% if not achievement.is_earned? %>color:grey;<% end %>">
			<%= achievement.description %>
		</td>
	</tr>
<% end %>
</table>
