<br/><br/><br/><br/>
<h1>Congratulations!</h1>
<p class="centered subhead">
	You set up your first Tor node!
	<br/><br/>
	<a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>" data-name="Tor-rific!" data-caption="<%= @user['first_name'] %> just set up <%= gender_pronoun(@user['gender']) %> very own Tor node to support internet anonymity and privacy - making it faster and more effective!">Post to Wall</a>

	<br/><br/><br/><br/><br/><br/>
	<a class="btn" href='/'>Dashboard</a>
</p>