<div class="logo">
	<img alt="Tor" src="<%= asset_path 'tor.png' %>"/>
</div>

<p class="centered">Tor helps protect <strong>anonymity and privacy</strong> online.<br/>Make use of your leftover resources to help expand the network.</p>

<div class="cover">
	<a href="?get_started=true" class="btn">Get Started</a>
</div>

<div id="bottom">
	<div><em class="big"><%= @@relays %></em> relay nodes</div>
	<div><em class="big"><%= @@exits %></em> exit nodes</div>
	<div><em class="big"><%= nice_bytes(@@bandwidth, 2) %><span class="smaller">/s</span></em> total bandwidth</div>
	<div><em class="big"><%= @@countries %></em> countries</div>
	<div><em class="big"><%= @@bridges %></em> bridge nodes</div>
</div>