<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
	<head>
	<title><%= @@app['name'] %></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
	<link href='//fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="<%= asset_path 'style.scss' %>" type="text/css" />

	<meta property="og:title" content="<%= @@app['name'] %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= url %>" /><%# "<meta property="og:image" content="" />" %>
	<meta property="og:site_name" content="<%= @@app['name'] %>" /><%# <meta property="og:description" content="" /> %>
	<meta property="fb:app_id" content="<%= @@app['id'] %>" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			<%# // Set up so we handle click on the buttons %>
			$('#postToWall').click(function() {
				FB.ui({
					method     : 'feed',
					link       : $(this).attr('data-url'),
					picture    : "https://www.torproject.org/images/onion.jpg",
					name       : $(this).attr('data-name'),
					caption    : $(this).attr('data-caption'),
					description: $(this).attr('data-description')
				}, function (response) {});
			});
			$('#sendToFriends').click(function() {
			FB.ui({
					method : 'send',
					link   : $(this).attr('data-url')
				}, function (response) {});
			});

			$('#sendRequest').click(function() {
				FB.ui({
					method  : 'apprequests',
					message : $(this).attr('data-message')
				}, function (response) {});
			});
		});
	</script>
	</head>
	<body>
		<div id="fb-root"></div>
		<script type="text/javascript">
			window.fbAsyncInit = function() {
				FB.init({
					appId      : "<%= @@app['id'] %>",                     <%# //App ID %>
					channelUrl : "<%= url_no_scheme('/channel.html') %>",  <%# //Channel File %>
					status     : true,                                     <%# //check login status %>
					cookie     : true,                                     <%# //enable cookies to allow the server to access the session %>
					xfbml      : true                                      <%# //parse XFBML %>
				});

				<%# //Listen to the auth.login which will be called when the user logs in using the Login button %>
				FB.Event.subscribe('auth.login', function(response) {
				<%#	// We want to reload the page now so Ruby can read the cookie that the
					// Javascript SDK sat. But we don't want to use
					// window.location.reload() because if this is in a canvas there was a
					// post made to this page and a reload will trigger a message to the
					// user asking if they want to send data again. %>
					window.location = window.location;
				});

				FB.Canvas.setAutoGrow();
			};

			<%# // Load the SDK Asynchronously %>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<div id='container'>
			<% if @page != "index" and @page != "first-setup" %>
			<div class="brand">
				<h1><a href="/"><%= @@app['name'] %></a></h1>
			</div>
			<nav>
				<a href="/"<% if @page == "dashboard" %>class="selected"<% end %>>Dashboard</a>
				<% if Team.all.size > 0 %><a href="/team_league"<% if @page == "team_league" %>class="selected"<% end %>>Team League</a><% end %>
				<a href="/user_league"<% if @page == "user_league" %>class="selected"<% end %>>User League</a>
			</nav>
			<% end %>

			<%= yield %>

		</div>

	</body>
</html>