<h1>New Team</h1>

<% if not @problem == 0 %>
<div class="problem">
	<strong>
	<% if @problem == 1 %>
		Team URL not valid.
	<% elsif @problem == 2 %>
		You can't create a team when you're already in one!
	<% elsif @problem == 3 %>
		You can't create a team without a name!
	<% elsif @problem == 4 %>
		<a href="<%= Team.where(:name => name).limit(1).first.url %>">Another team</a> already has that name.
	<% elsif @problem == 5 %>
	 	Team names may be no longer than 40 characters, nor URLs more than 100.
	<% elsif @problem == 6 %>
		Team URLs must begin with "http://"
	<% end %>
	</strong>
</div>
<% end %>

<form method="POST" action="/new_team">
	<label>Name: <span class="required">*</span></label>
	<input type="text" name="name" maxlength="40" placeholder="My Team Name"/>
	<label>URL:</label>
	<input type="text" name="url" placeholder="http://www.mywebsite.com/" maxlength="100"/>
	<input class="btn" type="submit"/>
</form>
