<h1><%= @node['nickname'] %></h1>
<h4 class="subhead"><%= @node['exit_node'] ? "Exit Node" : "Relay Node" %></h4>
<div class="centered">Owned by <a href="<%= @owner.url %>"><div class="circle small" style="background-image: url('<%= get_fb_image(@owner) %>');"></div><%= get_fb_user(@owner)['name'] %></a></div>
<br/>
<table>
	<tr><td><em class="big"><%= @node['consensus_weight'] %></em></td><td> league points</td></tr>
	<tr><td><em class="big"><%= nice_bytes(@node['observed_bandwidth']) %><span class="smaller">/s</span></em></td><td> observed bandwidth</td></tr>
</table>
<br/><br/>
<ul>
	<li><%= @node['running'] ? "Running" : "Not Running" %></li>
	<li>Last seen <%= time_ago @node['last_seen'] %></li>
	<li>Country: <%= @node['country'] %></li>
	<li>Platform: <%= @node['platform'] %></li>
</ul>