<% if @user_record.is_newbie? %>[<a href='?newbie=true'>What's this all about again?</a>]<% end %>

<script>
function selectText(element) {
    var text = document.getElementById(element);    

    if (document.body.createTextRange) { // ms
        var range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) { // moz, opera, webkit
        var selection = window.getSelection();            
        var range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}
</script>

<h1>Setup Steps</h1>
<div class="info group">
	<div class="number">1</div>
	<h3>Set up your node</h3>
	<p>Tor works off a system of volunteer computers called <strong>nodes</strong> that run certain pieces of software. Setting up a node gives the network more capacity and gives users more anonymity - you can learn how to set up a node <a href="https://www.torproject.org/docs/tor-doc-relay.html.en" target="_blank">here</a>.</p>
</div>
<div class="info group">
	<div class="number">2</div>
	<h3>Associate your Facebook token</h3>
	<p>Once you have your own Tor node, we need to verify that it's actually yours. In the settings panel for your node, add the following to your broadcasted contact information so we can link the node with this Facebook account: <code id="token" onclick="javascript:selectText('token')">&lt;fb-token:<%= @user_record.facebook_token %>&gt;</code>.</p>
</div>
<div class="info group">
	<div class="number">3</div>
	<h3>Come back in a few hours</h3>
	<p>It takes a little time to process all the information, so come back in a few hours by which time we should have registered your <% if @user_record.is_newbie? %>very first <% end %>node!</p>
</div>
<br/><br/>

<% t = Time.now %>
<p class="centered">Last checked at <%= '%02d' % t.hour %>:<%= '%02d' % t.min %> GMT (just now).</p>
<p class="centered"><a href="<%= url %>" class="btn">Check Again</a></p>