<h1>Team League Table</h1>
<% if @page_number > 1 %><h4 class="subhead">Page <%= @page_number %></h4><% end %>

<ol class="centered group league">
<% @ranked_teams.drop((@page_number - 1) * @entries_per_page).first(@entries_per_page).each do |team| %>
	<li class="group">
		<h2><a href="<%= team.url %>" class="ulink"><%= team['name'] %></a></h2>
		<h4><%= team.score %></h4>
	</li>
<% end %>
</ul>

<br/>
<%= pagination(@page_number, @pages) %>
<% if @user_record['team_id'].nil? %>
<br/><br/>
<a class="btn" href="/new_team">Create Team</a>
<% end %>