<h1><%= @team['name'] %></h1>
<h2 class="subhead"><%= @team.score %> league points</h2>

<% if @team['url'] != "" %>
<a href="<%= @team['url'] %>" class="ulink subhead" rel="nofollow" target="_blank"><%= @team['url'] %></a>
<% end %>

<div class="centered">
	Founded by <a href="<%= @founder.url %>"><div class="circle small" style="background-image: url('<%= get_fb_image(@founder) %>');"></div><%= get_fb_user(@founder)['name'] %></a>
</div>
<br/><br/>

<div class="centered">
	<strong><%= @members.count %> Member<%= "s" unless @members.count == 1 %>:</strong>
	<ul class="centered">
	<% hashzip(@members, get_fb_images(@members)).each do |member, image| %>
		<li>
			<a href="<%= member.url %>"><div class="circle small" style="background-image: url('<%= image %>');"></div><%= get_fb_user(member)['name'] %>
		</li>
	<% end %>
	</ul>
</div>

<div class="centered">
<% if @user_record['team_id'].nil? %>
	<a class="btn" href="?join_team=true&amp;state=<%= session[:state] %>">Join Team</a>
<% elsif @user_record['team_id'] == @team['id'] %>
	<% if @team['founder_facebook_id'] == @user_record['facebook_id'] %>
	<a class="btn red" href="/leave_team?state=<%= session[:state] %>">Delete Team</a>
	<% else %>
	<a class="btn red" href="/leave_team?state=<%= session[:state] %>">Leave Team</a>
	<% end %>
<% else %>
	<a class="btn unavailable" title="To join a new team you must first leave or delete your current team.">Join Team</a>
<% end %>
</div>