<h1>User League Table</h1>
<% if @page_number > 1 %><h4 class="subhead">Page <%= @page_number %></h4><% end %>

<ol class="centered group league imaged">

<% hashzip(@ranked_users, get_fb_images(@ranked_users, 'large')).drop((@page_number - 1) * @entries_per_page).first(@entries_per_page).each do |user, image| %>
	<% if not user.is_newbie? %>
	<li class="group"><h2><a href="<%= user.url %>"><div class="circle small" style="background-image: url('<%= image %>');"></div><%= get_fb_user(user)['name'] %></a></h2><h4><%= user['score'] %></h4></li>
	<% end %>
<% end %>
</ul>

<br/>
<%= pagination(@page_number, @pages) %>