<div class="centered">
	<div class="profile group">
		<div class="circle" style="background-image: url('<%= get_fb_image(@user_record, 'large') %>');"></div>
		<div>
			<h1><%= get_fb_user(@user_record)['name'] %></h1>
			<% if @team_record %>
				<h4 class="subhead"><a href="<%= @team_record.url %>"><%= @team_record['name'] %></a></h4>
			<% else %>
				<h4 class="subhead" style="color: lightgrey;">No Team</h4>
			<% end %>
		</div>
	</div>
</div>

<div class="centered" style="margin-top: -1.5em; margin-bottom: 2em;">
		<ul class="achievements">
		<% @user_record.achievements.each do |achievement| %>
			<% if achievement.is_earned? %>
				<li title="<%= achievement.description %>"><%= achievement.name %></li>
			<% end %>
		<% end %>
		</ul>
</div>

<div class="group">
	<div class="stats">
		<h4>Statistics</h4>
		<table>
			<tr><td><em class="big"><%= @node_records.count %></em></td><td> node<%= "s" if @node_records.count > 1 %></td></tr>
			<tr><td><em class="big"><%= @user_record['score'] %></em></td><td> league points</td></tr>
			<tr><td><em class="big"><%= average_observed_bandwidth(@node_records) %><span class="smaller">/s</span></em></td><td> avg. bandwidth</td></tr>
		</table>
	</div>
	<div class="progress">
		<h4>Achievement Progress</h4>
		<table>
			<% @user_record.achievements.each do |achievement| %>
				<% if not achievement.is_earned? and not achievement.progress.nil? %>
					<tr><td> <span class="achievement unobtained" title="<%= achievement.description %>"><%= achievement.name %></span></td><td><div class="progressbar" title="<%= achievement.progress %>%"><div style="width: <%= achievement.progress %>%;"></div></div> </td></tr>
				<% end %>
			<% end %>
		</table>
		<% if not @user_record.achievements.any? {|achievement| not achievement.is_earned? and not achievement.progress.nil? } %>
		Nothing to track
		<br/><br/>
		<% end %>
		<% if @page == "dashboard" %><a class="smaller" style="margin-top: 1em;" href="/achievements">Full List</a><% end %>
	</div>
</div>

<% unless @page != "dashboard" and @node_records.size < 1 %>
	<fieldset class="nodes">
	<legend>Nodes:</legend>
	<% @node_records.each do |node| %>
		<a href="<%= node.url %>" title="<%= node['nickname'] %>" class="node<%= " offline" unless node['running'] and age_in_days(node['last_seen']) < 7 %>"><%= node['nickname'] %></a>
	<% end %>
	<% if @page == "dashboard" %>
		<a href="/new_node" class="node new">Add Node</a>
	<% end %>
	</fieldset>
<% end %>

<% if @page == "dashboard" and @user_record['team_id'].nil? %>
<p class="centered">
	<strong>Not part of a team?</strong><br/>
	You should <% if Team.all.size > 0 %><a href="/team_league">join one</a> or <% end %><a href="/new_team">create one</a>!
</p>
<% elsif @page == "dashboard" and User.where(:referer_id => @user_record['facebook_id']).size < 5 %>
	<% friend = get_random_friend_for_referal %>
	<div class="centered">
		<div class="circle" style="background-image: url('<%= get_fb_image_from_fb_user(friend, 'large') %>');"></div>
		Why not invite a friend? <strong><%= friend['name'] %></strong> seems nice.<br/>
		Use <a href="/?referer=<%= @user_record['facebook_id'] %>">this link</a> to invite people and you might gain progress towards some <a href="/achievements">achievements</a> too.</p>
<% end %>