<html>
<head>
	<title>Vidalia Settings</title>
	<style>
	*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
	body { margin: 0; }
	#container {
		width: 558px;
		background: #d4d0c8;
		font-family: monospace;
		margin: 1em auto;
		padding: 1em;
		position: relative;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(255, 255, 255, .2), inset 1px 0 0 rgba(255, 255, 255, .2), inset -1px 0 0 rgba(255, 255, 255, .2);
		border: 1px solid #d4d0c8;
	}
	#bar {
		position: absolute;
		top: -1px; left: -1px;
		width: 558px;
		height: 20px;
		line-height: 20px;
		color: white;
		font-size: .8em;
		font-weight: bold;
		padding: 0 1em;
		background: linear-gradient(to right, #1c387a 0%,#a6caf0 100%);
		border-bottom: 1px solid rgba(255, 255, 255, .2);
	}
	table tr td:first-child { text-align: right; }
	input[type=text] { width: 29em; padding: .25em .4em; }
	input[type=submit] {
		background: #d4d0c8;
		padding: .2em 1.5em;
		border: 2px outset buttonface;
	}
	input[type=submit]:active { border: 2px inset buttonface; }
	form { margin: 0;}
	</style>
</head>
<body>
	<div id="container">
		<div id="bar">Settings<% if not params[:updated].nil? %> <small style="color: lightgrey; font-size: .8em;">(Applied update #<%= SecureRandom.hex.to_s[0..4] %>)</small><% end %></div>
		<h1>Sharing</h1>
		<form method="POST" action="/vidalia">
			<table>
				<tr>
					<td><label>Nickname:</label></td>
					<td><input type="text" name="nickname" value="Unnamed"/></td>
				</tr>
				<tr>
					<td><label>Contact Info:</label></td>
					<td><input type="text" name="contact" value="<your@email.com>"/></td>
				</tr>
				<tr>
					<td><label>Relay Port:</label></td>
					<td><input type="text" name="port" value="433"/></td>
				</tr>
			</table>
			<br/>
			<input type="submit" value="OK"/>
		</form>
	</div>
</body>
</html>