/* Copyright 2013, Joe Savage
This software is distributed under the BSD 2-Clause License. See the file LICENSE for further details. */

$green: #4ba027;
$orange: #EF882C;
$purple: #6d3097;
$red: #a60f0d;
$blue: #3b5998;
$light-border-color: rgba(0,0,0,0.1);
$background: desaturate(lighten(#fafad4, 7%), 15%);

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

::selection {
	background: $green;
	color: #f2f2f2;
	text-shadow: none;
}

body {
	color: #222;
}
#container {
	position: relative;
	width: 760px;
	min-height: 450px;
	margin: 0 auto;
	background: $background;
	border: 1px solid $light-border-color;
	margin-top: 2em;
	padding: 1em;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;;
}

h1, h2, h3, h4 {
	font-family: 'Molengo', Georgia, Times, serif;
	font-size: 3em;
	text-align: center;
	margin: .4em 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
h2 { font-size:2em; }
h3 {
	font-size:1.8em;
	margin: .2em 0;
}
h4 { font-size:1.6em; }

p {
	padding: 0 1em;
	margin: .4em 0 .9em;
}

.logo, .centered { text-align: center; }
ul { list-style-type: none; }
ul.centered, .centered ul { padding: 0; }
.logo img {
	height: 5em;
	margin-bottom: .5em;
}

.btn {
	display: inline-block;
	width: 8em;
	margin: 1em auto;
	text-align: center;
	background: $green;
	border: 1px solid $green; 
	color: $background;
	text-decoration: none;
	padding: 1em .5em;
	border-radius: 2px;
	z-index: 5;
	box-shadow: 0 0 1.7em rgba(255,255,255,0.4), inset 0 1px 0 rgba(255, 255, 255, .2), 0 2px 2px rgba(0, 0, 0, .15);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
	font-size: 1.3em;
	line-height: .9em;
	transition: background .12s ease, border .12s ease;
}
.btn:hover {
	color: $background;
	background: $orange;
	border-color: $orange;
}
.btn:active {
	background: $purple;
	border-color: $purple;
}
.btn.red { background: $red; border-color: $red; }
.btn.red:hover {
	background: darken($red, 10%);
	border-color: darken($red, 10%);
 }
 .btn.unavailable { cursor: default; background: grey; border-color: grey; }

.cover {
	background: #4DBCE9;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2P4//8/AxI2RuGAaBQOTADOAWEAjAwwnWPnCWYAAAAASUVORK5CYII=);
	border-top: 1px solid rgba(255,255,255,.4);
	border-bottom: 1px solid rgba(255,255,255,.4);
	text-align: center;
	margin-left: -1em;
	width: 758px;
	height: 273px;
}
.cover a.btn { margin-top: 4.5em; }

#bottom {
	margin: 2.2em auto;
	width: 100%;
	font-size: .8em;
	text-align: center;
}
#bottom div { margin: 0 1.5em; display: inline-block; }

#bottom em.big { font-size: 3.2em; }
em.big {
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
	vertical-align: middle;
}
#bottom em.big { display: block; }

table { margin: 0 auto; }

table tr td:first-child { text-align: center; }
table tr td:last-child, table tr td:first-child { padding-right: .7em; }
table tr { transition: all .1s ease; }
table tr:hover { color: #000; }

.nodes {
	margin: 1em auto;
	border: 1px solid rgba($light-border-color, .15);
	width: 44em;
}
.node {
	display: inline-block;
	width: 8em;
	background: $green;
	border: 1px solid $green;
	color: $background;
	padding: .8em .4em;
	margin: .2em .1em;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15);
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.node:hover { color: $background; }
.node h4 { display: inline-block; }
.node.offline {
	background: $red;
	border-color: $red;
}
.node.new {
	background: #cacaca;
	border-color: #cacaca;
}

a {
	color: $blue;
	text-decoration: none;
}
a:hover { color: darken($blue, 8%); }

.brand, nav {
	width: 759px;
	background: $blue;
	color: $background;
	margin-left: -1em;
	padding: .5em;
	text-align: center;
	border: 1px solid $blue;
}
.brand {
	margin-top: -1em;
	padding-bottom: 1em;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), inset -1px 0 0 rgba(255, 255, 255, .15), inset 1px 0 0 rgba(255, 255, 255, .15); border-bottom: none;
}
.brand h1 { margin: 0; font-size: 3.5em; }
.brand a, .brand a:hover { color: inherit; }
nav {
	margin-bottom: .4em;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .2), inset -1px 0 0 rgba(255, 255, 255, .15), inset 1px 0 0 rgba(255, 255, 255, .15);
	border-top: none;
}
nav a {
	font-weight: bold;
	text-decoration: none;
	margin-right: 1em;
	color: #ccc;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15), 0 -1px 0 rgba(255, 255, 255, .1);
	transition: color .2s ease;
}
nav a:hover, nav a.selected { color: #f2f2f2; }
nav a.selected { cursor: default; }


.ulink {
	display: block;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.league { padding: 0; }
.league li {
	display: block;
	clear: both;
	max-width: 30em;
	margin: 0 auto;
	position: relative;
	font-size: .9em;
}
.league li:before {
	content: "";
	position: absolute;
	left: -1.2em;
	font-size: 1.6em;
}
.league h2 {
	float: left;
	max-width: 13em;
	padding: 0 .1em;
}
.league h4 {
	float: right;
	padding: 0 .1em;
}
.league.imaged h4 {
	margin-top: 2.2em;
	padding: 0 .1em;
}

.stats, .progress {
	float: left;
	width: 20em;
	text-align: center;
}
.stats table, .progress table { width: 100%; }
.progress { float: right; }

.group { clear: both; }
.group:after {
	content: "";
	display: table;
	clear: both;
}

.progressbar {
	background-color: #111;
	border-radius: 13px;
	padding: 3px;
	min-width: 10em;
}

.progressbar div {
	 background-color: lighten($blue, 15%);
	 height: .7em;
	 border-radius: 10px;
	 transition: all .2s ease;
}
.progress tr:hover .progressbar div { background-color: lighten($blue, 25%); }

form {
	margin: 0 auto;
	width: 80%;
	background: $background;
	padding: 1em;
	text-align: center;
}
form input, form select, form textarea {
	display: block;
	width: 80%;
	margin: 0.2em auto 1.5em;
}
form input, form textarea {
	padding: 0.5em;
	border: 1px solid rgba(150, 150, 150, .4);
}
form input:focus, form textarea:focus {
	border-color: rgba(150, 150, 150, .8);
	outline: 2px auto rgba(200, 200, 200, .1);
}
form input[type=submit] {
	cursor: pointer;
}
form textarea {
	height: 10em;
	font-family: 'Arial', sans-serif;
}
form p { text-align: center; }
.required { color: #F00; }

.problem strong, .success strong { display: block; }
.problem, .success {
	background: #ffe6e6;
	border: 1px solid #e58e8e;
	width: 80%;
	padding: 1em;
	text-align: center;
	margin: 0 auto 1em;
}
.success {
	background: #d3edd3;
	border-color: #83d186;
}

.subhead {
	margin-top: -.9em;
	margin-bottom: 1em;
}

.circle {
	display: inline-block;
	vertical-align: middle;
	width: 8em;
	height: 8em;
	z-index: 5;
	margin: .5em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 5em;
	border: 5px solid #ececec;
	margin-right: .5em;
}
.circle.small {
	width: 3em;
	height: 3em;
	border-width: 2px;
}

.profile {
	display: inline-block;
	margin-bottom: 1.5em;
}
.profile div {
	float: left;
	text-align: left;
	margin-left: 1em;
	max-width: 34em;
}
.profile h1 {
	font-size: 3em;
	margin-top: .45em;
	text-align: left;
}
.profile h4 {
	max-width: 550px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.facebook-button { /* Credit to Nicolas Gallagher: http://nicolasgallagher.com/lab/css3-facebook-buttons/ */
	position: relative;
	display: inline-block;
	padding: 0.3em 0.6em 0.375em;
	border: 1px solid #999;
	border-bottom-color: #888;
	margin: 0;
	text-decoration: none;
	text-align: center;
	font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
	white-space: nowrap;
	cursor: pointer;
	color: #fff;
	background-color: #5B74A8;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
	background-image: -moz-linear-gradient(#637bad, #5872a7);
	background-image: -o-linear-gradient(#637bad, #5872a7);
	background-image: linear-gradient(#637bad, #5872a7);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
	border-color: #29447e #29447e #1a356e;
}
.facebook-button:hover { color: #fff; }
.facebook-button:active {
	border-color: #29447E;
	background: #4F6AA3;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.number {
	width: .7em;
	height: .7em;
	font-family: monospace;
	background: #dadada;
	color: $background;
	font-size: 11em;
	line-height: .7em;
	text-align: right;
	float: left;
	margin-right: .1em;
}
.info { margin-bottom: 1em; }
.info h3 { text-align: left; }

code {
	padding: 3px 4px;
	border: 1px solid #e5e5e5;
	font-size: 0.9em;
	background-color: #f5f5f5;
	word-wrap: break-word;
}

.achievements, .achievements li, .achievement { display: inline-block; padding: 0; }
.achievements li, .achievement {
	font-family: sans-serif;
	font-size: .8em;
	background: desaturate($green, 2%);
	border: 1px solid desaturate($green, 2%);
	padding: 2px 6px;
	border-radius: 2px;
	color: white;
	cursor: default;
}
.achievement.unobtained {
	background: $blue;
	border-color: $blue;
}

.smaller { font-size: .8em; }